/*
.color_palette {
    color: white;
    color:antiquewhite;
    color:navajowhite;
    color: #e0b16b;
    color: #b97c49;
    color:brown;
    color:#6e1b1b;
    color: black;
}
 */

*
{
    padding: 0;
    margin: 0;
}

body
{   background-color: antiquewhite !important;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

.main {
    flex: 1 0 auto;
}
/*шапка*/
.nav
{
    height: 100px;
    background-color: navajowhite;
    display: flex;
    justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
    align-items: center; /*размещаем по центру*/
}

.nav-ul
{
    list-style: none;
    display: flex;
    margin-right: 35px;
}

.nav-elem
{
    margin-left: 25px;

}

.nav-link
{
    text-decoration: none;
    color: black;
    font-family: "Andale Mono", monospace;
}

.nav-img
{
    width: 20px;
    height: 20px;
}

.nav-elem:hover
{
    opacity: 0.5;
}

.logo
{
    margin-left: 40px;
    width: 50px;
    height: 50px;
}

.logo:hover
{
    opacity: 0.6;
}
/*main*/
.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1
{
    font-size: 30px;
    font-family: "Andale Mono", monospace;
    text-align: center;
    margin-left: 130px;
}

h2
{
    font-size: 24px;
    font-family: "Andale Mono", monospace;
    color: #b97c49;
    text-align: center;
    position: relative;
    margin: 30px auto 10px;
}
/*product*/
.name-product
{
    font-size: 20px;
}

.price{
    color: firebrick;
    font-size: 20px;
}

.image-catalog{
    width: 340px;
    height: 250px;
}

.product
{
    list-style: none;
    padding: 25px;
    background: white;
    position: relative;
    width: 340px;
    margin: 20px 30px;
    border-radius: 20px;
}

.product:hover
{
    border: dimgrey 3px;
    box-shadow: 6px 6px 10px dimgrey;
    border-radius: 20px;
    transition: 0.2s;
}

.image-catalog{
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* button add to basket*/
.add-to-basket{
    border: 0;
    padding: 5px 15px;
    color: #b97c49;
    font-size: 15px;
    background: navajowhite;
    position: relative;
    top: 5px;
    border-radius: 5px;
    margin-top: 10px;
    vertical-align: bottom;
}

.add-to-basket:hover
{
    background: #e0b16b;
    color: black;
    transition: 0.2s;
}
/* footer */
.footer{
    flex: 0 0 auto;
    background-color: navajowhite;
    margin-top: 30px;
}

.footer__title
{
    font-size: 28px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}

.footer__contact
{
    font-size: 16px;
    color: #b97c49;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 20px;
}

.footer__phone
{
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.footer__address
{
    font-weight: 300;
    font-size: 12px;
    color: #b97c49;
    margin: 16px 0;
}

.footer__top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b97c49;
}

.footer__bottom
{
    font-weight: 300;
    font-size: 12px;
    color: #b97c49;
    margin: 20px 40px;
}

.footer__left
{
    margin: 30px 40px;
}

.footer__right
{
    text-align: right;
    margin-right: 40px;
}

.footer__logo
{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.footer__logo:hover
{
    opacity: 0.6;
    transition: 0.2s;
}
